<h2>Edit Your Profile</h2>
{{#if message}}
<div>{{ message }}</div>
{{/if}}
<div class="container">
  <div class="row">
    <div class="col-sm">
      	<form method="POST" action="">
		<div>
			<label for="Bio">Bio:</label>
			<input type="text" id="bio" name="bio" value="">
		</div>
		<input type="submit" value="Edit">
		</form>
    </div>
    <div class="col-sm">
      <h3>Show off your favorite albums!</h3>
		<form method="POST" action="">
			<div>
				<label for="FavoriteAlbum1">#1 Favorite Album:</label>
				<input type="text" id="favoriteAlbum1" name="favoriteAlbum1" value="">
				<br>
				<label for="FavoriteAlbum2">#2 Favorite Album:</label>
				<input type="text" id="favoriteAlbum2" name="favoriteAlbum2" value="">
				<br>
				<label for="FavoriteAlbum3">#3 Favorite Album:</label>
				<input type="text" id="favoriteAlbum3" name="favoriteAlbum3" value="">
				<br>
				<label for="FavoriteAlbum4">#4 Favorite Album:</label>
				<input type="text" id="favoriteAlbum4" name="favoriteAlbum4" value="">
				<br>
				<label for="FavoriteAlbum5">#5 Favorite Album:</label>
				<input type="text" id="favoriteAlbum5" name="favoriteAlbum5" value="">
			</div>
			<input type="submit" value="Edit">
		</form>
    </div>
  </div>
</div>

