<h2>Edit Your Profile</h2>
<form method="POST" action="">
	<div>
		<label for="Username">Title:</label>
		<input type="text" id="username" name="username" value="">
	</div>
	<div>
		<label for="Bio">URL:</label>
		<input type="texr" id="bio" name="bio" value="">
	</div>
	<input type="submit" value="Edit">
</form>