<h2>Edit Your Profile</h2>
{{#if message}}
<div>{{ message }}</div>
{{/if}}
<form method="POST" action="">
	<div>
		<label for="Bio">Bio:</label>
		<input type="text" id="bio" name="bio" value="">
	</div>
	<input type="submit" value="Edit">
</form>