<h2>{{user.username}}</h2>
<div class="container">
  <div class="row">
    <div class="col-sm">
        <h4>Bio:</h4>
        <div>
        {{user.bio}}
        </div>
    </div>
    <div class="col-sm">
        <h4>Favorite Albums:</h4>
        {{#each user.favoriteAlbums}}
            <div>{{this}}</div>
        {{/each}}
    </div>
  </div>
</div>



