<h2>{{user.username}}</h2>
<h4>{{user.bio}}</h4>
<h4>Favorite Albums:</h4>
{{#each user.favoriteAlbums}}
    <div>{{@index}}. {{this}}</div>
{{/each}}
{{#if currUser}}
<br>
<a href="/edit-profile">Edit Profile</a>
{{/if}}