<h3>Your Top Artists:</h3>
{{#each topArtists}}
    <div>{{this.name}}</div>
{{/each}}

<h3>Your Top Tracks:</h3>
{{#each topTracks}}
    <div>{{this.name}}</div>
{{/each}}

<h3>Summary</h3>
{{user.summary.description}}